@use "../tokens";
@use "layout";
// generates helper class names

// wrap your main content in this
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .section {
    width: 100%;
    max-width: 80ch;
  }
}

// intended for a label and input
.field {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-top: tokens.$tight;
  }
}

// spread it out like mango jelly
.fluid {
  width: 100% !important;
}

:active.no-squish {
  transform: scale(1) !important;
}
