@use "../tokens";
@use "layout";
@use "flex";
// generates helper class names

// intended for a label and input
.field {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-top: tokens.$tight;
  }
}

// spread it out like mango jelly
.fluid {
  width: 100% !important;
}

:active.no-squish {
  transform: scale(1) !important;
}
