@use "../tokens";

// this is a slightly modified version of Bootstrap's grid layout,
// which I really like
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: tokens.$content-width;
  width: 100%;
  padding-left: tokens.$cozy;
  padding-right: tokens.$cozy;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.$cozy;

  &-comfortable {
    @extend .row;
    gap: tokens.$comfortable;
  }
}

.row > * {
  width: 100%;
  max-width: 100%;
  flex: 1 0 0%;
  min-width: 0;
}
.col-shrink {
  flex: 0 0 auto;
  width: auto;
}

// puts things in a neat row
.stack-horizontal {
  display: flex;
  gap: tokens.$cozy;

  &-tight {
    display: flex;
    gap: tokens.$tight;
  }
}

// puts things in a neat column
.stack-vertical {
  display: flex;
  flex-direction: column;
  gap: tokens.$cozy;

  &-tight {
    display: flex;
    flex-direction: column;
    gap: tokens.$tight;
  }
}
