@use "../utils.scss";
@use "../tokens";

// the styles from this file visually communicate a top banner. The header
// element loses its banner landmark when it's nested inside of a main tag.
// That's why this component is named banner instead of what the HTML tag
// says
header:not(main header) {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: utils.v(surface);
  width: 100%;

  nav {
    margin-right: auto;
    margin-left: auto;
    max-width: tokens.$content-width;
    width: 100%;
    padding: tokens.$cozy;
    display: flex;
    justify-content: space-between;
  }
}
