@use "../utils.scss";
@use "../tokens";

// the styles from this file visually communicate a top banner. The header
// element loses its banner landmark when it's nested inside of a main tag.
// That's why this component is named banner instead of what the HTML tag
// says
header:not(main header) {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: utils.v(surface);
  width: 100%;
  box-shadow: tokens.$shadow-low;
  z-index: 20;

  nav {
    margin-right: auto;
    margin-left: auto;
    max-width: tokens.$content-width;
    width: 100%;
    padding: tokens.$tight;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      // my reasoning is that links are easily identifiable in a top nav
      text-decoration: none;
      color: utils.v(text);
      font-weight: map-get(tokens.$font-weights, bold);

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
