@use "../tokens";
@use "../utils.scss";

button,
.button {
  display: block;
  color: utils.v(text);
  background-color: utils.v(primary);
  border-radius: tokens.$radius;
  border: tokens.$border;
  padding: tokens.$tight tokens.$cozy;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: tokens.$effect-transition;

  &:focus,
  &.focus {
    @include tokens.shadow-focus-ring-inset;
  }

  &:hover,
  &.hover {
    color: utils.v(text);
    background-color: utils.v(primary-hover);
  }
  &:active,
  &.active {
    transform: tokens.$squish;
  }

  &:disabled {
    background-color: utils.v(disabled-background);
    color: utils.v(disabled-text);
    border-color: utils.v(disabled-text);
    cursor: not-allowed;

    // disabled controls can still have an active state for some reason
    &:active {
      transform: none;
    }
  }

  &.outline {
    background-color: utils.v(surface);
    border: tokens.$border;

    &:hover,
    &.hover {
      background-color: utils.v(surface-hover);
    }

    &:disabled {
      background-color: utils.v(disabled-background-light);
      color: utils.v(disabled-text-light);
      border-color: utils.v(disabled-text-light);
    }
  }

  &.flat {
    @extend .outline;
    // getting rid of the border would make these buttons 2px smaller
    border-color: transparent;
  }

  &.icon::before {
    font-size: 1.125rem;
    margin-right: tokens.$tight;
  }

  > span[role="alert"] {
    // We have to remove some of the alert styles
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &::before {
      font-size: 1.125rem;
      content: tokens.$spinner;
      animation: tokens.$spin-animation;
    }
  }
}
