@use "../utils.scss";
@use "../tokens";

@mixin use-checkbox {
  &::before {
    display: inline-block;
    content: "";
    vertical-align: top;
    transition: tokens.$effect-transition;
    box-sizing: content-box;

    margin-right: tokens.$tight;
    border: tokens.$border;
    border-radius: tokens.$radius-small;
    width: 1.125rem;
    height: 1.125rem;
    background-color: utils.v(page-background);
  }
  &:hover::before,
  &.hover::before {
    background-color: utils.v(surface-hover);
  }
}
@mixin use-checkbox-checked {
  @include tokens.use-icon;
  font-size: 1.125rem;
  content: tokens.$check;
  background-color: utils.v(primary);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: tokens.$effect-transition;
    width: max-content;

    &:active,
    &.active {
      transform: tokens.$squish;
    }

    @include use-checkbox;
  }

  &:focus + label::before,
  &.focus + label::before {
    @include tokens.shadow-focus-ring;
  }

  &:checked + label::before {
    @include use-checkbox-checked;
  }

  &:disabled + label {
    color: utils.v(disabled-text);

    &::before {
      background-color: utils.v(disabled-background-light);
      border: 1px solid utils.v(disabled-text);
      color: utils.v(disabled-text);
    }

    &:active {
      transform: none;
    }

    &:hover {
      cursor: not-allowed;
    }
  }
}
