@use "../utils.scss";
@use "../tokens";

input[type="checkbox"] {
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: tokens.$effect-transition;
    width: max-content;

    &::before {
      display: inline-block;
      content: "";
      vertical-align: top;
      transition: tokens.$effect-transition;
      box-sizing: content-box;

      margin-right: tokens.$tight;
      border: tokens.$border;
      border-radius: tokens.$radius-small;
      width: 1.125rem;
      height: 1.125rem;
      background-color: utils.v(page-background);
    }
    &:hover::before {
      background-color: utils.v(surface-hover);
    }
    &:active {
      transform: tokens.$squish;
    }
  }

  &:focus + label::before {
    @include tokens.focus-ring;
  }

  &:checked + label::before {
    @include tokens.use-icon;
    font-size: 1.125rem;
    content: tokens.$check;
    background-color: utils.v(primary);
  }

  &:disabled + label {
    color: utils.v(disabled-text);

    &::before {
      background-color: utils.v(disabled-background-light);
      border: 1px solid utils.v(disabled-text);
      color: utils.v(disabled-text);
    }

    &:active {
      transform: none;
    }

    &:hover {
      cursor: not-allowed;
    }
  }
}
