@use "../utils.scss";
@use "../tokens";

@mixin inline-text-modifier {
  border-radius: tokens.$radius;
  padding: tokens.$squished;
  font-size: 0.9rem;
}

a code {
  text-decoration-color: utils.v(code-text);
  text-decoration: underline;
}

// block
pre {
  max-width: 100%;
  overflow-x: scroll;
  background-color: utils.v(block-code-backgrond);
  color: utils.v(block-code-text);
  padding: tokens.$cozy;
  border-radius: tokens.$radius;
  font-size: 1rem;
}

// inline
code {
  @include inline-text-modifier;
  background-color: utils.v(code-background);
  color: utils.v(code-text);
}

kbd {
  @include inline-text-modifier;
  background-color: utils.v(kbd-background);
  color: utils.v(kbd-text);
}
