@use "../utils.scss";
@use "../tokens";

code {
  background-color: utils.v(code-background);
  color: utils.v(code-text);
  border-radius: tokens.$radius;
  padding: tokens.$squished;
  font-size: 0.9rem;
}
