@use "../utils.scss";
@use "../tokens";

input[type="radio"] {
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: tokens.$effect-transition;
    width: max-content;

    &::before {
      display: inline-block;
      content: "";
      vertical-align: top;
      transition: tokens.$effect-transition;

      margin-right: tokens.$tight;
      border: tokens.$border;
      border-radius: 50%;
      width: 1.125rem;
      height: 1.125rem;
      background-color: utils.v(page-background);
    }
    &:hover::before,
    &.hover::before {
      background-color: utils.v(surface-hover);
    }
    &:active,
    &.active {
      transform: tokens.$squish;
    }
  }

  &:focus + label::before,
  &.focus + label::before {
    @include tokens.shadow-focus-ring;
  }

  &:checked + label::after {
    // 1.125 total width
    // 0.1875 rem (left) + 0.1875 (right) + 0.75 (width) = 1.125
    --dimensions: 0.75rem;
    --position: 0.1875rem;
    content: "";
    position: absolute;
    top: var(--position);
    left: var(--position);
    display: block;
    border-radius: 50%;
    width: var(--dimensions);
    height: var(--dimensions);
    background-color: utils.v(primary);
  }

  &:disabled + label {
    color: utils.v(disabled-text);

    &::before {
      background-color: utils.v(disabled-background-light);
      border: 1px solid utils.v(disabled-text);
      color: utils.v(disabled-text);
    }

    &:active {
      transform: none;
    }

    &:hover {
      cursor: not-allowed;
    }
  }
}
