@use "../utils.scss";
@use "../tokens";

nav[data-orientation="vertical"] {
  background-color: utils.v(surface);
  border: tokens.$border;
  border-radius: tokens.$radius;
  width: max-content;
  height: max-content;
  overflow: hidden;

  > ul li {
    border-top: tokens.$border;

    a {
      display: block;
      text-decoration: none;
      padding: tokens.$tight tokens.$cozy;
      background-color: utils.v(surface);
      color: utils.v(text);
      width: 100%;
      min-width: max-content;

      &:hover {
        // reveal hovered li color
        background-color: transparent;
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
      }
      // selected styles
      &[aria-current="page"] {
        font-weight: map-get(tokens.$font-weights, bold);
        background-color: utils.v(surface-selected);
      }
    }

    &:hover {
      background-color: utils.v(surface-hover);
      color: utils.v(text);
    }

    &:first-child {
      border-top: none;
    }

    // sub navigation items are indented more to the left
    // and should only have a top border since the first child
    // of the nested list won't have one
    ul {
      border-top: tokens.$border;
      width: 100%;

      a {
        padding-left: tokens.$socially-distanced;
        font-size: 1rem;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
}
