#landing #component-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  min-width: 500px;
  width: 600px;
  max-height: 340px;
}

#component-grid [role="tab"] {
  border-bottom: 1px solid var(--primary);
}
#component-grid [role="tab"]:first-child {
  border-bottom-left-radius: 10px;
}
#component-grid [role="tab"]:last-child {
  border-bottom-right-radius: 10px;
}
#component-grid [role="alert"].warning {
  grid-column: span 2;
}

#component-grid .disclosure-group {
  grid-column: span 2;
}

#component-grid select {
  margin-top: 0.75rem;
}

#component-grid progress {
  margin-top: 0.75rem;
}

.subgrid {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.75rem;
}

@media screen and (max-width: 900px) {
  #landing #component-grid {
    display: none;
  }
}
