.example {
  box-shadow: none;
  margin: 1.5rem;
  flex-wrap: wrap;
}
.example.shrink {
  width: fit-content;
}
.example.nowrap {
  flex-wrap: nowrap;
}
/* emulates the page background */
.example.page {
  border: 3px solid var(--surface);
  background-color: var(--page-background);
}
body > div {
  padding-top: 1rem;
}
svg#logo {
  height: 1.125rem;
  vertical-align: top;
  stroke: var(--text);
  fill: var(--text);
}
nav a:hover #logo {
  stroke: var(--link-hover);
  fill: var(--link-hover);
}

#nav-header-container > button {
  display: none;
}

@media screen and (max-width: 650px) {
  body > div {
    flex-wrap: wrap;
    padding-top: 0;
  }

  #nav-header-container {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: var(--surface);
  }

  #nav-header-container button {
    display: block;
    margin-bottom: 0.5rem;
  }

  #nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }

  #nav-container nav {
    width: auto;
  }
}
