.example {
  box-shadow: none;
  margin: 1.5rem;
  flex-wrap: wrap;
}
.example.shrink {
  width: max-content;
}
/* emulates the page background */
.example.page {
  border: 3px solid var(--surface);
  background-color: var(--page-background);
}
