#landing {
  background-color: var(--surface);
}

#heading h1 {
  font-size: 5rem;
}
#heading p {
  font-size: 2rem;
}

#transition-container {
  background-color: var(--surface);
}

#transition-wave {
  width: 100%;
}

#mangoui-logo {
  width: 2.3rem;
  height: 1.125rem;
  vertical-align: top;
  stroke: var(--text);
  fill: var(--text);
  transition: fill 150ms ease-in-out, stroke 150ms ease-in-out;
}
header nav a:hover #mangoui-logo {
  fill: var(--link-hover);
  stroke: var(--link-hover);
}
