#landing {
  background-color: var(--surface);
}

#heading h1 {
  font-size: 5rem;
}
#heading p {
  font-size: 2rem;
}

#transition-container {
  background-color: var(--surface);
}

#transition-wave {
  width: 100%;
}
