<div>
  <h2>Checkbox</h2>
  <dl>
    <dt>Selector</dt>
    <dd><code>input[type="checkbox"] + label</code></dd>
  </dl>
  <p>
    Checkboxes are used when the user must select any number of available options, including zero.
    If you have a form with multiple, related checkboxes, surround them with a
    <code>&lt;fieldset /&gt;</code> tag to visually and semantically group them. When you do this,
    make sure to also provide a <code>&lt;legend /&gt;</code> as the first child to label them.
  </p>
  <div class="card stack-vertical example shrink">
    <fieldset>
      <legend>Favorite dish?</legend>
      <input type="checkbox" id="mango-cake" />
      <label for="mango-cake">Mango Cake</label>
      <input type="checkbox" id="mango-salad" />
      <label for="mango-salad">Mango Quinoa Salad</label>
      <input type="checkbox" id="mango-sorbet" />
      <label for="mango-sorbet">Mango Sorbet</label>
    </fieldset>
  </div>
  <p>
    Checkboxes shouldn't be used to perform actions (<a
      href="https://www.w3.org/TR/WCAG21/#on-input"
      >S.C 3.2.2</a
    >). Instead, combine the checkbox with a form and submit button or use a toggle button.
  </p>
  <h2>States</h2>
  <div class="card stack-vertical example shrink">
    <div>
      <input type="checkbox" id="hover-checkbox" />
      <label for="hover-checkbox" class="hover">Hover</label>
    </div>
    <div>
      <input type="checkbox" id="focus-checkbox" class="focus" />
      <label for="focus-checkbox">Focus</label>
    </div>
    <div>
      <input type="checkbox" id="active-checkbox" />
      <label for="active-checkbox" class="active">Active</label>
    </div>
    <div>
      <input type="checkbox" id="checked-checkbox" checked />
      <label for="checked-checkbox">Checked</label>
    </div>
    <div>
      <input type="checkbox" id="disabled-checkbox" disabled />
      <label for="disabled-checkbox">Disabled</label>
    </div>
  </div>
  <p>Like other interactive controls, the checkbox squishes slightly when clicked.</p>
</div>
