<h1>Tabs</h1>
<dl>
  <dt>Selector</dt>
  <dd>
    <code>[role="tablist"]</code>, <code>button[role="tab"]</code>,
    <code>[role="tabpanel"]</code>
  </dd>
  <dt>Requires JavaScript</dt>
  <dd>
    <code>[data-functionality="tabs"]</code>
  </dd>
</dl>
<p>
  Use tabs to allow the user to explore different views. The markup requires ARIA attributes on 3
  separate elements. The tab list is marked as <code>role="tablist"</code> and contains the tabs
  (<code>role="tab"</code>). Each tab button points to its related tab panel, which is marked with
  <code>role="tabpanel"</code>. This component requires JavaScript to handle the ARIA attributes and
  keyboard navigation, which is based on the
  <a href="https://www.w3.org/TR/wai-aria-practices-1.2/#tabpanel">W3C's recommendation</a>.
</p>
<p>
  The tab list acts as a single tab stop, essentially becoming a widget. Only the activated tab is
  focusable. The arrow keys are used to activate the others tabs in the list. To ease navigation,
  activated tab panels are given a <code>tabindex="0"</code> to provide a consistent destination
  after tabbing through the tab list.
</p>
<div class="card example shrink" data-functionality="tabs">
  <h3 id="chess-openings-heading">Chess Openings</h3>
  <div role="tablist" aria-labelledby="chess-openings-heading">
    <button
      id="queens-gambit-tab"
      role="tab"
      aria-controls="queens-gambit-panel"
      aria-selected="true"
    >
      Queen's Gambit
    </button>
    <button
      id="kings-gambit-tab"
      role="tab"
      aria-controls="kings-gambit-panel"
      aria-selected="false"
      tabindex="-1"
    >
      King's Gambit
    </button>
    <button
      id="benko-gambit-tab"
      role="tab"
      aria-controls="benko-gambit-panel"
      aria-selected="false"
      tabindex="-1"
    >
      Benko Gambit
    </button>
  </div>
  <div role="tabpanel" id="queens-gambit-panel" aria-labelledby="queens-gambit-tab" tabindex="0">
    White begins by playing d4 and black responds with d5. The Queen's gambit occurs when white
    plays c4, challenging black's center.
  </div>
  <div
    role="tabpanel"
    id="kings-gambit-panel"
    aria-labelledby="kings-gambit-tab"
    tabindex="0"
    hidden
  >
    The King's Gambit is an exciting opening. After 1. e4 e5, white plays f4, launching an attack!
    Black has to know how to defend carefully to weather the storm.
  </div>
  <div
    role="tabpanel"
    id="benko-gambit-panel"
    aria-labelledby="benko-gambit-tab"
    tabindex="0"
    hidden
  >
    This is an interesting variation in the Benoni Defense, where black plays b5 on move three.
    Filled with tons of theory, there's always a line to catch your opponent unprepared
  </div>
</div>
<h2>Keyboard Navigation</h2>
<p>
  The Mango UI tabs follow
  <a href="https://www.w3.org/TR/wai-aria-practices-1.2/examples/tabs/tabs-1/tabs.html"
    >automatic activation</a
  >, where each tab activates once it gets focus. This was done to keep the interface feeling snappy
  and responsive. When focused on a tab:
</p>
<ul>
  <li>
    Press the <kbd>Left Arrow</kbd> and <kbd>Right Arrow</kbd> to activate the next and previous
    tabs respectively
  </li>
  <li>Press <kbd>Home</kbd> to activate the first tab</li>
  <li>Press <kbd>End</kbd> to activate the last tab</li>
  <li>
    Press <kbd>Tab</kbd> to move to the next tab stop on the page after the tab list, which should
    be the tab panel.
  </li>
</ul>
