$orange-white: #fef6e6;
$orange-lightest: #feeccc;
$orange-lighter: #fcd180;
$orange-light: #fabe4d;
$orange: #f8a200;
$orange-darker: #df9200;
$orange-darkest: #c68200;
$orange-black: #322000;

$blue: #2679de;
$blue-darker: #2165b8;

$red-white: #ffecec;
$red-lightest: #feb3b3;
$red-lighter: #fd7b7b;
$red: #fc4242;
$red-darker: #b02e2e;
$red-darkest: #651a1a;
$red-black: #4c1414;

$green-white: #e9f9e9;
$green-lightest: #a7e5a7;
$green-lighter: #66d266;
$green: #24bf24;
$green-daker: #198619;
$green-darkest: #0e4c0e;
$green-black: #072607;

$yellow-white: #fffae8;
$yellow-lightest: #fdeba1;
$yellow-lighter: #fcdb5b;
$yellow: #facc14;
$yellow-daker: #af8f0e;
$yellow-darkest: #645208;
$yellow-black: #322904;

$gray-5: #1a1a1a;
$gray-4: #525252;
$gray-3: #838383;
$gray-2: #b5b5b5;
$gray-1: #dedede;
$white: #ffffff;
