// Mango Colors

$mango-orange-white: #fef6e6;
$mango-orange-lightest: #feeccc;
$mango-orange-lighter: #fcd180;
$mango-orange-light: #fabe4d;
$mango-orange: #f8a200; //base
$mango-orange-darker: #df9200;
$mango-orange-darkest: #c68200;
$mango-orange-black: #322000;

$mango-red-white: #fdf3f3;
$mango-red-lightest: #f7e3e3;
$mango-red-lighter: #f4c3c3;
$mango-red-light: #f2baba;
$mango-red: #e98a8a;
$mango-red-darker: #d27c7c;
$mango-red-darkest: #ba6e6e;
$mango-red-black: #2f1c1c;

$mango-green-white: #f8fae8;
$mango-green-lightest: #eaeec1;
$mango-green-lighter: #d7e17a;
$mango-green-light: #cbd854;
$mango-green: #bdd01a;
$mango-green-darker: #aabb17;
$mango-green-darkest: #849212;
$mango-green-black: #262a05;

// UI Colors

$blue-white: #e9f2fc;
$blue-lightest: #a8c9f2;
$blue-lighter: #67a1e8;
$blue: #2679de;
$blue-darker: #1b559b;
$blue-darkest: #0f3059;
$blue-black: #040c16;

$red-white: #ffecec;
$red-lightest: #feb3b3;
$red-lighter: #fd7b7b;
$red: #fc4242;
$red-darker: #b02e2e;
$red-darkest: #651a1a;
$red-black: #4c1414;

$green-white: #e9f9e9;
$green-lightest: #a7e5a7;
$green-lighter: #66d266;
$green: #24bf24;
$green-darker: #198619;
$green-darkest: #0e4c0e;
$green-black: #072607;

$yellow-white: #fffae8;
$yellow-lightest: #fdeba1;
$yellow-lighter: #fcdb5b;
$yellow: #facc14;
$yellow-darker: #af8f0e;
$yellow-darkest: #645208;
$yellow-black: #322904;

$gray-5: #1a1a1a;
$gray-4: #525252;
$gray-3: #838383;
$gray-2: #b5b5b5;
$gray-1: #dedede;
$white: #ffffff;
