// Mango Colors

$mango-orange-white: #fef6e6;
$mango-orange-lightest: #feeccc;
$mango-orange-lighter: #fcd180;
$mango-orange-light: #fabe4d;
$mango-orange: #f8a200;
$mango-orange-darker: #df9200;
$mango-orange-darkest: #c68200;
$mango-orange-black: #322000;

$mango-red-white: #f3e2df;
$mango-red-lightest: #e7c5c0;
$mango-red-lighter: #d49a90;
$mango-red-light: #c87d71;
$mango-red: #c26e61;
$mango-red-darker: #884035;
$mango-red-darkest: #4e2c27;
$mango-red-black: #271613;

$mango-green-white: #e3e2d3;
$mango-green-lightest: #c7c6a6;
$mango-green-lighter: #9d9b64;
$mango-green-light: #817e37;
$mango-green: #737021;
$mango-green-darker: #514e17;
$mango-green-darkest: #2e2d0d;
$mango-green-black: #171607;

// UI Colors

$blue-white: #e9f2fc;
$blue-lightest: #a8c9f2;
$blue-lighter: #67a1e8;
$blue: #2679de;
$blue-darker: #1b559b;
$blue-darkest: #0f3059;
$blue-black: #040c16;

$red-white: #ffecec;
$red-lightest: #feb3b3;
$red-lighter: #fd7b7b;
$red: #fc4242;
$red-darker: #b02e2e;
$red-darkest: #651a1a;
$red-black: #4c1414;

$green-white: #e9f9e9;
$green-lightest: #a7e5a7;
$green-lighter: #66d266;
$green: #24bf24;
$green-darker: #198619;
$green-darkest: #0e4c0e;
$green-black: #072607;

$yellow-white: #fffae8;
$yellow-lightest: #fdeba1;
$yellow-lighter: #fcdb5b;
$yellow: #facc14;
$yellow-darker: #af8f0e;
$yellow-darkest: #645208;
$yellow-black: #322904;

$gray-5: #1a1a1a;
$gray-4: #525252;
$gray-3: #838383;
$gray-2: #b5b5b5;
$gray-1: #dedede;
$white: #ffffff;
