@use "palette";
@use "../../utils.scss";
@use "../icons";

// default theme, so is-default is true
@include utils.css-vars(
  (
    primary: palette.$orange,
    primary-hover: palette.$orange-darker,
    primary-selected: palette.$orange-darkest,
    page-background: palette.$orange-white,
    surface: palette.$orange-lightest,
    surface-hover: palette.$orange-lighter,
    surface-selected: palette.$orange-light,
    link: palette.$blue,
    link-hover: palette.$blue-darker,
    neutral-alert-background: palette.$gray-1,
    neutral-alert-border: palette.$gray-2,
    danger-alert-background: palette.$red-lightest,
    danger-alert-border: palette.$red-lighter,
    danger-alert-text: palette.$red-black,
    danger-text: palette.$red-darker,
    warning-alert-background: palette.$yellow-lightest,
    warning-alert-border: palette.$yellow-lighter,
    warning-alert-text: palette.$yellow-black,
    warning-text: palette.$yellow-darker,
    success-alert-background: palette.$green-lightest,
    success-alert-border: palette.$green-lighter,
    success-alert-text: palette.$green-black,
    success-text: palette.$green-darker,
    input-background: palette.$orange-white,
    input-border: palette.$orange-lighter,
    input-invalid-border: palette.$red-darker,
    input-valid-border: palette.$green-darker,
    image-down-arrow: url(icons.get-down-arrow-source(palette.$orange-black)),
    readonly-input-image: url(icons.get-lock-source(palette.$orange-black)),
    valid-input-image: url(icons.get-check-circle-source(palette.$green-darker)),
    invalid-input-image: url(icons.get-warning-source(palette.$red-darker)),
    text: palette.$orange-black,
    code-text: palette.$red-darkest,
    code-background: palette.$red-white,
    disabled-text: palette.$gray-3,
    disabled-background: palette.$gray-2,
    disabled-text-light: palette.$gray-2,
    disabled-background-light: palette.$gray-1,
  ),
  sunset,
  true
);
