@use "../utils.scss";

$radius-small: 5px;
$radius: 10px;
$border: 1px solid utils.v(primary);
$input-border: 1px solid utils.v(input-border);

@mixin focus-ring {
  outline: 2px solid utils.v(primary);
  outline-offset: -1px;
}

@mixin shadow-focus-ring {
  outline: none;
  box-shadow: 0 0 0 3pt utils.v(primary-hover);
}
@mixin shadow-focus-ring-inset {
  outline: none;
  box-shadow: inset 0 0 0 3pt utils.v(primary-hover);
}

.rounded {
  border-radius: $radius;
}
.rounded-small {
  border-radius: $radius-small;
}
.rounded-circle {
  border-radius: 50%;
}
