@use "../utils.scss";

$radius-small: 5px;
$radius: 10px;
$border: 1px solid utils.v(primary);
$input-border: 1px solid utils.v(input-border);

@mixin focus-ring {
  outline: 2px solid utils.v(primary);
  outline-offset: -1px;
}

.rounded {
  border-radius: $radius;
}
.rounded-small {
  border-radius: $radius-small;
}
