$squished: 0.25rem;
$tight: 0.5rem;
$cozy: 1rem;
$comfortable: 1.5rem;
$socially-distanced: 2rem;

$input-width: 30ch;

// spacing helper classes
$spacings: (
  none: 0,
  squished: $squished,
  tight: $tight,
  cozy: $cozy,
  comfortable: $comfortable,
  socially-distanced: $socially-distanced,
);
$schemes: (
  padding: p,
  margin: m,
);

@each $name, $spacing in $spacings {
  @each $scheme, $class in $schemes {
    .#{$class}-#{$name} {
      #{$scheme}: $spacing;
    }
    .#{$class}t-#{$name} {
      #{$scheme}-top: $spacing;
    }
    .#{$class}b-#{$name} {
      #{$scheme}-bottom: $spacing;
    }
    .#{$class}l-#{$name} {
      #{$scheme}-left: $spacing;
    }
    .#{$class}r-#{$name} {
      #{$scheme}-right: $spacing;
    }
  }
}
