<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/mango.css" />
    <title>MangoUI | {{pageTitle}}</title>
  </head>
  <body>
    <div class="flex flex-justify-center mt-comfortable">
      {{navigation}}
      <main class="content">{{content}}</main>
    </div>
  </body>
</html>