<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/mango.css" />
    <link rel="stylesheet" href="../styles/docs-page.css" />
    <title>MangoUI | {{pageTitle}}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html">
          {{logo}}
          Mango UI
        </a>
      </nav>
    </header>
    <div class="container">
      <div class="row-comfortable">
        <div id="nav-header-container" class="col-shrink">
          <button
            aria-expanded="false"
            aria-haspopup="true"
            aria-controls="nav-container"
            class="icon icon-right-arrow"
          >
            Expand navigation
          </button>
          <div id="nav-container">
            {{navigation}}
          </div>
        </div>
        <main>
          {{content}}
        </main>
      </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../../dist/mango.js"></script>
  </body>
</html>